<a id="contact"></a>
    <div class="row">
      <div class="contact-form small-12 medium-12 large-12 columns">

        <h5>Please contact me using the form below:</h5>
        <form>
          <div class="row">

            <div class="small-12 medium-6 large-6 columns name_email">
              <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                  <label>Name</label>
                  <input type="text" placeholder="Enter Your Name" autocapitalize="words">
                </div>
              </div>
              <div class="row">
                <div class="small-12 medium-12 large-12 columns">
                  <label>E-mail</label>
                  <input type="email" placeholder="Enter Your E-mail Address">
                </div>
              </div>
            </div>

            <div class="small-12 medium-6 large-6 columns message">
              <label>Message</label>
              <textarea placeholder="Write Your Message Here" autocapitalize="sentences"></textarea>
            </div>

            <div class="button small-12 medium-2 large-2 columns left">Send</div>

          </div>
        </form>

      </div>

    </div>
