<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>NOELHOSTAD.CO.UK | <?php echo $title; ?></title>

<?php
foreach($extra_css as $css)
{
	if ( is_array ( $css ) )
	{
		if ( $css['absolute'] )
		{
			// - DO NOT ATTACH BASE URL
			echo link_tag(array('href' => $css['address'], 'rel' => 'stylesheet'));
		}
		else
		{
			// - ATTACH BASE URL
			echo link_tag(array('href' => base_url($css['address']), 'rel' => 'stylesheet'));
		}
	}
	else
	{
		// - ATTACH BASE URL
		echo link_tag(array('href' => base_url($css), 'rel' => 'stylesheet'));
	}
}
?>

<?php
foreach($extra_js as $js)
{
	if ( is_array ( $js ) )
	{
		if ( $js['absolute'] )
		{
			// - DO NOT ATTACH BASE URL
			echo '<script type="text/javascript" src="' . $js['address'] . '" ></script>';
		}
		else
		{
			// - ATTACH BASE URL
			echo '<script type="text/javascript" src="' . base_url($js) . '" ></script>';
		}
	}
	else
	{
		// - ATTACH BASE URL
		echo '<script type="text/javascript" src="' . base_url($js) . '" ></script>';
	}
}
?>

</head>

<body>
