<div class="row footer">
      <div class="row">
        <div class="small-8 columns">
          <ul>
            <li><a href="">About Me</a></li>
            <li><a href="">Web Development</a></li>
            <li><a href="">E-learning</a></li>
            <li><a href="">Contact</a></li>
            <li><a href=""></a></li>
          </ul>

          <div>
            &copy; 2015 Noel Hostad
          </div>
        </div>

        <div class="small-4 columns">
          <a class="soc-media-link twitter" target="_blank" href="https://twitter.com/noelhostad">Twitter</a>
          <!--<a class="soc-media-link facebook" target="_blank" href="https://www.facebook.com/noelhostad">Facebook</a>-->
          <a class="soc-media-link linked-in" target="_blank" href="https://uk.linkedin.com/in/noel-hostad-0aa57423">Linked In</a>
        </div>
      </div>
    </div>
