<footer>
			<div id="copyright">
				Copyright:<br>
				&copy; 2015 Juice-e Ltd<br>
				All Rights Reserved.
			</div>
			<div id="email">
				Email:<br>
				info@juice-e.co.uk<br>
			</div>
			<div id="telephone">
				Telephone:<br>
				0345 222 1524<br>
			</div>
			
			<div id="footer_nav">
				<nav>
					<ul>
						<li><a href="<?php echo base_url ( 'about' ); ?>">ABOUT US</a></li>
						<li><a href="<?php echo base_url ( 'portfolio' ); ?>">PORTFOLIO</a></li>
						<li><a href="<?php echo base_url ( 'contact' ); ?>">CONTACT</a></li>
					</ul>
				</nav>
			</div>
			
			<div class="social_networks">
				<div id="facebook"><img src="<?php echo base_url('assets/fb_btn_footer.png'); ?>" width="34" height="34" /></div>
				<div id="google"><img src="<?php echo base_url('assets/google_btn_footer.png'); ?>" width="34" height="34" /></div>
				<div id="twitter"><img src="<?php echo base_url('assets/twitter_btn_footer.png'); ?>" width="34" height="34" /></div>
			</div>
			
		</footer>