<header>



			<div id="header_inner">
				<a href="http://www.juice-elearning.co.uk"><div id="header_logo"></div></a>
				<nav>
					<ul>
						<li class="full_nav" id="fn_about"><a href="<?php echo base_url ( 'about' ); ?>">ABOUT US</a></li>
                        <li class="full_nav" id="fn_bespoke"><a href="<?php echo base_url ( 'bespoke-e-learning' ); ?>">BESPOKE E-LEARNING</a></li>
                        <li class="full_nav" id="fn_mobile"><a href="<?php echo base_url ( 'mobile' ); ?>">MOBILE</a></li>
                        <li class="full_nav" id="fn_lms"><a href="<?php echo base_url ( 'learner-management-systems' ); ?>">LEARNER MANAGEMENT SYSTEMS</a></li>
						<li class="full_nav" id="fn_portfolio"><a href="<?php echo base_url ( 'portfolio' ); ?>">PORTFOLIO</a></li>
						<li class="full_nav" id="fn_sectors">
							<a href="#">SECTORS</a>
							<ul>
								<li><a href="<?php echo base_url ( 'sector/pharmaceuticals' ); ?>">PHARMACEUTICALS</a></li>
								<li><a href="<?php echo base_url ( 'sector/healthcare' ); ?>">HEALTHCARE</a></li>
							</ul>
						</li>
						<li class="full_nav" id="fn_contact"><a href="<?php echo base_url ( 'contact' ); ?>">CONTACT</a></li>
                        <li id="more">
							<a href="#" id="more_link">&nbsp;&#9662;</a>
							<ul id="tier_1">
								<li class="more_nav" id="m_about"><a href="<?php echo base_url ( 'about' ); ?>">ABOUT US</a></li>
                                <li class="more_nav" id="m_bespoke"><a href="<?php echo base_url ( 'bespoke-e-learning' ); ?>">BESPOKE E-LEARNING</a></li>
                                <li class="more_nav" id="m_mobile"><a href="<?php echo base_url ( 'mobile' ); ?>">MOBILE</a></li>
                                <li class="more_nav" id="m_lms"><a href="<?php echo base_url ( 'learner-management-systems' ); ?>">LEARNER MANAGEMENT SYSTEMS</a></li>
                                <li class="more_nav" id="m_portfolio"><a href="<?php echo base_url ( 'portfolio' ); ?>">PORTFOLIO</a></li>
                                <li class="more_nav" id="m_sectors">
                                    <a href="#">SECTORS</a>
                                    <ul>
                                        <li><a href="<?php echo base_url ( 'sector/pharmaceuticals' ); ?>">PHARMACEUTICALS</a></li>
                                        <li><a href="<?php echo base_url ( 'sector/healthcare' ); ?>">HEALTHCARE</a></li>
                                    </ul>
                                </li>
                                <li class="more_nav" id="m_contact"><a href="<?php echo base_url ( 'contact' ); ?>">CONTACT</a></li>
							</ul>
						</li>
					</ul>
                    
                
                    
				</nav>
				<!--<a id="client_login" href="client-login">CLIENT LOGIN</a>-->
			</div>
			<div id="header_bg"></div>
		</header>