<div class="row work-egs-web-dev">

      <!--
      <div class="prev-btn small-6 columns"><span class="prev-btn-arrow">&#9700;</span>PREV</div>
      <div class="next-btn small-6 columns">NEXT <span class="next-btn-arrow">&#9698;</span></div>
      -->

      <div class="small-12 columns">
        <div class="portfolio-mask owl-carousel owl-theme" id="portfolio-mask">

          <div class="portfolio-item item row">
            <h2 class="client-name">JemBuild.co.uk</h2>
            <img src="/images/portfolio/web-dev/jembuild.png" class="portfolio-item-screenshot small-12 medium-6 large-6 columns">
            <div class="portfolio-item-blurb small-12 medium-6 large-6 columns">
              <h3 class="the-brief-title">The Brief</h3>
              <p>Lincolnshire construction company, JemBuild,  wanted a complete revamp with their new site this summer. We proposed a move to WordPress as a simple CMS was also requested.</p>
              <a class="portfolio-visit-link right" href="http://jembuild.juice-e.co.uk" target="_blank">Visit Site &#9701;</a>
            </div>
          </div>

          <div class="portfolio-item item row">
            <h2 class="client-name">JemBuild.co.uk</h2>
            <img src="/images/portfolio/web-dev/jembuild.png" class="portfolio-item-screenshot small-12 medium-6 large-6 columns">
            <div class="portfolio-item-blurb small-12 medium-6 large-6 columns">
              <h3 class="the-brief-title">The Brief</h3>
              <p>Lincolnshire construction company, JemBuild,  wanted a complete revamp with their new site this summer. We proposed a move to WordPress as a simple CMS was also requested.</p>
              <a class="portfolio-visit-link right" href="http://jembuild.juice-e.co.uk" target="_blank">Visit Site &#9701;</a>
            </div>
          </div>

        </div>

        <!--
        <div class="prev-btn small-6 columns"><span class="prev-btn-arrow">&#9700;</span>PREV</div>
        <div class="next-btn small-6 columns">NEXT <span class="next-btn-arrow">&#9698;</span></div>
        -->
        <div class="portfolio-bottom-separator"></div>

        <div class="swipe-instruction small-12 columns">
          <img src="/images/swipe-gesture.png">
          <div>&#9664; SWIPE TO NAVIGATE &#9654;</div>
        </div>

      </div>
    </div>
