// _variables.scss
// =================

$yellow        : #FFCC00;
$darkBlue      : #000055;
$blueRObg      : #00D9FF;
$blueROtext    : #000055;
$pinkRObg      : #D41155;
$pinkROtext    : #400606;
$greenRObg     : #99FF33;
$greenROtext   : #000055;
$orangeRObg    : #FF5D08;
$orangeROtext  : #351C01;

$headFont : bebas-neue, Arial, sans-serif;
$bodyFont : neuton, Georgia, Times, serif;
$btnFont  : bebas-neue, Arial, sans-serif;
