<div id="home_content" class="content">
	
	<div>
		<a href="#work-examples-elearning">
			<div class="nav_btn" id="work_examples_elearning">
				<div class="first_line">WORK EXAMPLES</div>
				<div class="second_line">E-LEARNING</div>
				<div class="rollover"></div>
			</div>
		</a>
		
		<div id="work_examples_elearning_scroller">
			<div id="work_examples_prev_btn" class="work_examples_btn disabled">&#9700; PREV</div>
			<div id="work_examples_next_btn" class="work_examples_btn enabled">NEXT &#9698;</div>
			<div id="work_examples_elearning_recepticle"></div>
		</div>
		
		<a href="#make-contact">
			<div class="nav_btn" id="make_contact">
				<div class="first_line">MAKE</div>
				<div class="second_line">CONTACT</div>
				<div class="rollover"></div>
			</div>
		</a>
		
		<div id="make_contact_content">
			<form>
				<div id="make_contact_sec_1">
					<div class="form_elem">
						<label for="name">Name</label>
						<br>
						<input type="text" name="Name" id="name" value="Noel Hostad">
					</div>
					
					<div class="form_elem">
						<label for="email">E-mail</label>
						<br>
						<input type="text" name="Email" id="email" value="noelhostad@hotmail.co.uk">
					</div>
					
					<div class="form_elem">
						<label for="phone">Phone</label>
						<br>
						<input type="text" name="Phone" id="phone" value="07590822544">
					</div>
				</div>
				
				<div id="make_contact_sec_2">
					<label for="message">Message</label>
					<br>
					<textarea name="Message" id="message">Hello
					
Noel</textarea>
				</div>
				
				<input type="button" name="send_message" id="send_message" class="submit" value="SEND &#9698;">
			</form>
		</div>
		
		<a href="#about_myself">
			<div class="nav_btn" id="about_myself">
				<div class="first_line">ABOUT</div>
				<div class="second_line">MYSELF</div>
				<div class="rollover"></div>
			</div>
		</a>
		
		<div id="about_myself_content">
			<img id="noel" src="../../../assets/noel.jpeg">
			<div id="blurb">
				<p>Hi! Thanks, for taking the time to look at my site. I hope you like what you see so far...</p>
				<h5 class="heading">"Why?" is often the most important question.</h5>
				<p>Why do I choose to do what I do?
				   Well, frankly I think it's the most creatively satisfying work there is, or at least it is for me.
				   Taking a project from inception to completion, with all the unexpected problems and their solutions
				   is a lot of fun but what the end user takes from it is even better: a client that's able to improve the way
				   they work using your system or a student that finally got a difficult concept because of the way you helped
				   them interact with a simulation. These are the reasons I do the work I do.</p>
				<h5 class="heading">What have I been doing?</h5>
				<p>I've been working in a variety of digital media for the past 10 years. Starting out as a web designer,
				   I've gradually moved more toward a development skillset.
				   Along the way I've also transferred a lot of this design and development mix into e-learning content.
				   I've built on every level of depth of interaction from very basic information-only courses to simulations of complex manufactoring technology.</p>
				<h5 class="heading">What can I do?</h5>
				<p>Well I have experience building:</p>
				<ul>
					<li>Websites (including e-commerce)</li>
					<li>E-learning Courses</li>
					<li>Simulations</li>
					<li>Web apps, both mobile and desktop</li>
					<li>Android apps</li>
				</ul>
				<p>...using the following technologies and applications...</p>
				<ul>
					<li>HTML/HTML5</li>
					<li>Javascript (including jQuery)</li>
					<li>CSS/CSS3</li>
					<li>PHP (including Codeigniter &amp; Laravel)</li>
					<li>MySQL</li>
					<li>Actionscript 3.0</li>
					<li>Articulate Storyline</li>
					<li>GIT</li>
					<li>SCORM</li>
					<li>Photoshop</li>
					<li>Illustrator</li>
					<li>Xcode</li>
					<li>Flash</li>
					<li>Audition</li>
				</ul>
			</div>
		</div>
		
		<a href="#work-examples-web-dev">
			<div class="nav_btn" id="work_examples_web_dev">
				<div class="first_line">WORK EXAMPLES</div>
				<div class="second_line">WEB DEVELOPMENT</div>
				<div class="rollover"></div>
			</div>
		</a>
		
		<div id="work_examples_web_dev_scroller">
			<div id="work_examples_web_dev_prev_btn" class="work_examples_btn disabled">&#9700; PREV</div>
			<div id="work_examples_web_dev_next_btn" class="work_examples_btn enabled">NEXT &#9698;</div>
			<div id="work_examples_web_dev_recepticle"></div>
		</div>
	</div>

</div>