<div id="inner_mid_section">
			<div id="tagline">A fresh-thinking <span style="color: #ff9933;">approach</span> tailored to <span style="color: #ff9933;">your</span> requirements</div>
			<img id="orange_circles" src="assets/what_we_do_orange_circles.png" />
			
			<div id="what_we_do">
				<div id="bespoke_elearning">
					<div class="wwd_heading">Bespoke<br>e-learning</div>
					<div class="wwd_body">At Juice-e our aim is to produce e-learning that is not only interactive and informative but also engaging and imaginative.</div>
				</div>
				<div id="application_development">
					<div class="wwd_heading">Application Development</div>
					<div class="wwd_body">At Juice-e we build innovative applications tailored to the needs of your business. We have the experience and knowledge to deliver a solution that goes beyond your original brief.</div>
				</div>
				<div id="games_sims">
					<div class="wwd_heading">Games and Simulations</div>
					<div class="wwd_body"> We believe that e-learning is not simply text on a screen followed by a series of multiple choice questions but more a well thought out simulation of the subject matter.</div>
				</div>
			</div><!--/what_we_do-->
			<div style="clear:both;"></div>
			
			<div id="devices">
				<div class="section_title"><img src="assets/tools_icon.png" /><span class="section_title_text">Multi-Device Experience</span></div>
				<div id="laptop">
					<div class="device_img"><img src="assets/laptop.png" /></div>
					<br />
					<div class="device_header">Fun Creative Design</div>
					<div class="device_text">At Juice-e our aim is to produce e-learning that is not only interactive and informative but also engaging and imaginative...</div>
				</div>
				<div id="tablet">
					<div class="device_img"><img src="assets/tablet.png" /></div>
					<br />
					<div class="device_header">Touch and Go</div>
					<div class="device_text">At Juice-e we build innovative applications tailored to the needs of your business.</div>
				</div>
				<div id="smartphone">
					<div class="device_img"><img src="assets/smartphone.png" /></div>
					<br />
					<div class="device_header">Learning in your Pocket...</div>
					<div class="device_text">At Juice-e we create exceptional learning content for multiple devices, including the latest Smart phones.</div>
				</div>
			</div><!--/devices-->
			<div style="clear:both;"></div>
			
			<div id="section_3">
				<a href="http://www.juice-elearning.co.uk/contact"><div id="request_demo_btn" class="btn green_btn">Contact Us Today</div></a>
			</div><!--/section_3-->
			<div style="clear:both;"></div>
			
			<!--<div id="features">
				<div id="multi_device_experience"><img src="assets/tools_icon.png" /><span id="multi_device_experience_text">Juice-e Features at a Glance</span></div>
				<div></div>
			</div>--><!--/features-->
			
			<div id="recent_work">
				<div class="section_title"><img src="assets/tools_icon.png" /><span class="section_title_text">Recent Work</span></div>
				<div class="back_btn"><img src="assets/back_btn.png" /></div>
				<div class="next_btn"><img src="assets/next_btn.png" /></div>
				
				<div id="recent_work_pieces">
					<div class="recent_work_piece">
						<img src="assets/process-e-learning-portfolio-home.png" alt="Process Technology E-learning" width="290" height="174" />
						<div class="recent_work_piece_header">Basic Chemistry E-learning</div>
						<div class="recent_work_piece_text">This e-learning module was commissioned to ensure that all process operators had the same level of understanding regarding basic chemistry principles... <br/><span class="readmore"><a href="http://www.juice-elearning.co.uk/portfolio">Read More</a></span></div>
					</div>
					<div class="recent_work_piece">
						<img src="assets/healthcare-medication-e-learning-portfolio-home.png" alt="Medication E-learning - Healthcare" width="290" height="174" />
						<div class="recent_work_piece_header">Supporting with Medication E-learning</div>
						<div class="recent_work_piece_text">This e-learning module is designed to provide learners with a good understanding of how to support individuals with medication... <br/><span class="readmore"><a href="http://www.juice-elearning.co.uk/portfolio">Read More</a></span></div>
					</div>
					<div class="recent_work_piece">
						<img src="assets/dse-e-learning-portfolio-home.png" alt="DSE E-learning - Healthcare" width="290" height="174" />
						<div class="recent_work_piece_header">Display Screen Equipment E-learning</div>
						<div class="recent_work_piece_text">This e-learning module is designed to provide learners with a good understanding of Display Screen Equipment... <br/><span class="readmore"><a href="http://www.juice-elearning.co.uk/portfolio">Read More</a></span></div>
					</div>
				</div>
			</div><!--/recent_work-->
			
			
            <!--<div class="lower_images">
				<div id="get_in_touch"><img src="assets/get_in_touch_btn.png" width="301" height="97" /></div>
				<div id="take_a_look"><img src="assets/take_a_look_btn.png" width="302" height="102" /></div>
				<div id="keep_up_with"><img src="assets/keep_up_with_btn.png" width="302" height="102" /></div>
			</div>-->
            
	
		</div>