<div id="about_content">
	
<p>At Juice-e we love what we do! Which is great because if we didn’t chances are we wouldn’t be very good at it. Our aim is to produce innovative results tailored around your businesses needs.</p>

<p>We are based in Grimsby, North East Lincolnshire and have over 20 years collective experience in designing and producing eye-catching design and development that is proven to engage its audience. Heard enough? Contact us today to find out how we can assist.</p>

<p style="color:#ef821c;"><strong>Meet the Directors:</strong></p>

<p><strong>Noel Hostad</strong> – <i>Technical Genius</i></p>

<p>With a good grounding in freelance design, I started to train in web development, marrying a variety of technologies with quality visual design. I have 4 years experience working as an e-learning developer for H.E Colleges.</p>

<p>At Juice-e Learning, as Technical Director, I'm responsible for developing applications, educational games and e-learning materials.</p>

<p><strong>David Bunyan</strong> – <i>People Pleaser</i></p>

<p>After completing a multimedia production degree, I’ve been employed in a number of roles including as a designer and developer.</p>

<p>At Juice-e Learning I look after all accounts ensuring that both new and existing clients are happy with the work that we produce and that it is delivered on time.</p>    
    
</div>

<style>
#test
{
	float:left;
	position:relative;
	width:100%;
	height:300px;
	background:#0066CC;
	overflow:hidden;
}
#obj1
{
	width:100px;
	height:100px;
	background:#FF5555;
	position:absolute;
	top:10px;
	left:10px;
}
#obj2
{
	width:100px;
	height:100px;
	background:#FF9944;
	position:absolute;
	top:10px;
	left:1200px;
}
</style>

<div id="test">
	<div id="obj1"></div>
	<div id="obj2"></div>
</div>